.izma__groups-attendance-right-tabs-second-up {
   margin: 31px 0;
   width: 750px;
   display: flex;
   background: #FFFFFF;
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
   border-radius: 4px;
}

.izma__groups-attendance-right-tabs-second-line {
   width: 9px;
   height: 85px;
   background: #090761;
   border-radius: 20px;
}

.izma__groups-attendance-right-tabs-second-text {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 23px;
   padding: 20px 18px;
   color: #000000;
}

.izma__groups-attendance-right-tabs-second-bottom {

   background: #D3D2ED;
   border-radius: 4px;
   padding: 20px 24px;
   margin-top: 16px;
}

.izma__groups-attendance-right-tabs-second-heading {
   font-family: "Jost";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   margin-right: 40px;
   color: #FFFFFF;
}

.izma__groups-attendance-right-tabs-second-bottom-text {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 23px;
   color: #000000;
}