.groupForm {
   .inner {
      max-width: 670px;
      box-sizing: border-box;
      background: #FFFFFF;

      .top_group {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-bottom: 22px;
         border-bottom: 1px solid #000;

         h3 {
            margin-right: 80px;
            font-family: "Jost";
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            color: #000000;
            margin-bottom: 0;
         }

         button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            img {
               width: 20px;
               height: 20px;
            }
         }
      }

      .form_wrapper {
         font-family: "Calibri";
         margin-top: 20px;

         .ant-picker.date__picker {
            padding: 0 7px;
         }

         .form_inputs {
            margin-bottom: 20px;
         }

         .izma__clock-time-wrapper  {
            .izma__clock-time-label + .ant-picker {
               border: none;
               outline: none;
               background: #F7F9FB;
               border: 2px solid #C9D5E4;
               box-sizing: border-box;
               border-radius: 7px;
              padding: 0 7px !important;
               width: 100%;
               display: block;
            }
         }

         form {
            label {
               font-family: Calibri;
               font-style: normal;
               font-weight: normal;
               font-size: .8rem;
               line-height: 24px;
               color: #000000;
               margin-bottom: 8px;
               display: block;
               padding-left: 5px;
            }

            input[type=text] {
               padding: 10px;
               border: 2px solid #C9D5E4;
               background: #F7F9FB;
            }

            input,
            select {
               border: none;
               outline: none;
               background: #F7F9FB;
               
               box-sizing: border-box;
               border-radius: 7px;
               padding: 10px;
               width: 100%;
               display: block;
            }

            button {
              font-family: "Jost";
              font-style: normal;
              font-weight: 600;
              font-size: .8rem;
              color: #FFFFFF;
              border: none;
              background: #090761;
              border-radius: 57px;
              padding: 12px 40px;
              margin-bottom: 30px;
              margin-top: 15px;
            }

            .hasBefore {
               position: absolute;
               display: block;
               top: 0;
            }
         }
      }
   }
}



