.groupForm {
   .inner {
      max-width: 670px;
      padding: 33px 30px 40px 30px;
      box-sizing: border-box;
      background: #FFFFFF;

      .top_group {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-bottom: 22px;
         border-bottom: 1px solid #000;

         h3 {
            margin-right: 80px;
            font-family: "Jost";
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 43px;
            color: #000000;
         }

         button {
            border: none;
            background-color: transparent;
            cursor: pointer;
         }
      }

      .form_wrapper {
         font-family: "Calibri";
         margin-top: 60px;

         .form_inputs {
            margin-bottom: 26px;
         }

         .izma__clock-time-wrapper  {
            .izma__clock-time-label + .ant-picker {
               padding: 15px;
               border: none;
               outline: none;
               background: #F7F9FB;
               // border: 2px solid #EDF2F8;
               box-sizing: border-box;
               border-radius: 7px;
               // padding: 10px;
               width: 100%;
               display: block;
            }
         }

         form {
            label {
               font-family: Calibri;
               font-style: normal;
               font-weight: normal;
               font-size: 20px;
               line-height: 24px;
               color: #000000;
               margin-bottom: 8px;
               display: block;
            }

            input[type=text] {
               padding: 10px;
            }

            input,
            select {
               border: none;
               outline: none;
               background: #F7F9FB;
               // border: 2px solid #EDF2F8;
               box-sizing: border-box;
               border-radius: 7px;
               // padding: 10px;
               width: 100%;
               display: block;
            }

            button {
               border: none;
               background: #090761;
               border-radius: 57px;
               font-family: "Jost";
               font-style: normal;
               font-weight: 600;
               font-size: 20px;
               line-height: 29px;
               color: #FFFFFF;
               padding: 12px 37px;
               margin-top: 44px;
            }

            .hasBefore {
               position: absolute;
               display: block;
               top: 0;
            }
         }
      }
   }
}



