.izma__form__teaxtarea .ant-input {
    min-height: 190px;
}
.izma__courses__form-bolim-form-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid #000000;
}
.izma__courses__form-bolim-form .ant-input {
    margin-top: 8px;
}
.izma__finance-form-radio-heading {
    margin-bottom: 8px;
}
.izma__finance-form-radio {
    display: flex!important;
    flex-direction: column;
}
.izma__courses__form-bolim-form .ant-picker  {
    margin-top: 8px;
}
.form_group {
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    label,
    .file {
        font-weight: bold !important;
        font-size: .8rem !important;
    }
}
.izma__courses__form-bolim-form-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: #000000;
    margin-bottom: 0;
}
.izma__courses__form-bolim-form-img {
    width: 20px;
    height: 20px;
}

.izma__courses__form-bolim-form-close-btn {
    border: none;
    outline: none;
    background-color: transparent;
}

.izma__courses__form-bolim-form-center {
    margin-top: 30px;
}
.izma__courses__form-bolim-form-button {
    font-style: normal;
    font-weight: 600;
    font-family: "Calibri";
    font-size: 18px;
    line-height: 22px;
    background: #090761;
    border-radius: 57px;
    padding: 12px 40px;
    margin-top: 60px;
    color: #FFFFFF;
}

.section_name_input{
    width: 100%;
}

.ant-form {
    width: 100% !important;
    .form_group  {
        width: 100%!important;
    }
}

.section_name_input{
    background: #F7F9FB !important;
    border: 2px solid #EDF2F8 !important;
    box-sizing: border-box !important;
    border-radius: 7px !important;
    padding: 10px !important;
}