.lids {
   width: 100%;
}

.lidsWrapper {
   width: 100%;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
   
}

.status1,
.status2,
.status3 {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 30% !important;
}

.status1 {

   &-header {
      width: 100%;



      &-row {
         display: flex;
         align-items: center;
         justify-content: space-between;
         width: 100%;

         form {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
            box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
            background: white;
            margin-top: 20px;



            input {
               border: none;
               outline: none;
               width: 100%;
               padding: 5px;
               border-bottom: 1px solid transparent;
               border: none;
               border-radius: 0 !important;

               &:hover {
                  border: none;
               }

               
               &:focus {
                  border-bottom: 1px solid #5E5873;

               }
            }
         }

         &-right {

            display: flex;
            align-items: center;
            cursor: pointer;

            img {
               width: 15px;
               height: 15px;
            }
         }

         &-left {
            display: flex;
            align-items: center;
            cursor: pointer;

            h4 {
               font-style: normal;
               font-weight: bold;
               font-size: 12px;
               color: #5E5873;
               margin-left: 10px;
               margin-bottom: 0;
            }

            img {
               width: 15px;
               height: 15px;
            }
         }
      }

      &-title {
         margin-bottom: 20px;
         width: 100%;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         font-style: normal;
         font-weight: 600;
         font-size: 20px;
         line-height: 43px;
         text-align: center;
         text-transform: capitalize;
      }
   }

}