@font-face {
    font-family: "Calibri";
    src: url("./Calibri-Bold.woff2") format("woff2"),
        url("./Calibri-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Calibri";
    src: url("./Calibri-Light.woff") format("woff"),
        url("./Calibri-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Calibri";
    src: url("./Calibri-Light.woff") format("woff"),
        url("./Calibri-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Calibri";
    src: url("./Calibri.woff") format("woff"),
        url("./Calibri.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Jost";
    src: url("./Jost-ExtraLight.woff") format("woff"),
        url("./Jost-ExtraLight.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Jost";
    src: url("./Jost-Light.woff") format("woff"),
        url("./Jost-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Jost";
    src: url("./Jost-Medium.woff") format("woff"),
        url("./Jost-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Jost";
    src: url("./Jost-SemiBold.woff") format("woff"),
        url("./Jost-SemiBold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
