.izma__table-t tr:nth-child(even) {
   background-color: #FFFFFF;
}

.izma__table-t tr:nth-child(even):hover {
   background-color: #FFFFFF;
}

.izma__table-t .ant-table-tbody>tr>td {
   font-family: "Calibri" !important;
   border-top: 1px solid #f0f0f0;
   border-bottom: 1px solid #f0f0f0;
}

// .izma__table-t .ant-table-wrapper {
//     width: 1100px;
// }
.izma__table-t .ant-table table {
   border-spacing: 0px 10px;
}

.izma__table-t .ant-table-thead>tr>th {
   background-color: #F7F9FB !important;
   color: #2F2D51 !important;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
   background-color: transparent !important;
}

.ant-table-tbody>tr>td {
   border: none;
}

.izma__table-delete-btn {
   width: 35px;
   height: 35px;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
   width: 40px !important;
   height: 40px !important;
   border-radius: 50% !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
   width: 40px !important;
   height: 40px !important;
   border-radius: 50% !important;
   border: 1px solid #E7E7EC;
   box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
   border-radius: 4px;
}

.ant-pagination-item {
   padding-top: 19px;
   border-radius: 50% !important;
   width: 40px !important;
   text-align: center !important;
   line-height: 0 !important;
   height: 40px !important;
   border: 1px solid #E7E7EC;
   box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
   border-radius: 4px;
}

.ant-pagination-item-active {
   background: #4A8F9F;
   color: #fff !important;
   border-radius: 4px;
}

.ant-pagination-item-active a {
   color: #fff !important;
}

.ant-table-pagination.ant-pagination {
   position: absolute;
}