.filterName {
   margin: 15px 0;
   padding: 5px 7px 5px 23px;
   background: #090761;
   border-radius: 3px;
   position: relative;
   margin-right: 15px;
   cursor: pointer;
   opacity: 0.3;
   &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 7px;
      top: 0;
      bottom: 0;
      margin: auto;
      background-color: #090761;
      border: 2px solid #fff;
   }
   
   &.checked {
      opacity: 1;
      &::before {
         background-color: #fff;
      }
   }

   span {
      font-family: Jost;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 17px;
      text-transform: capitalize;
      color: #FFFFFF;
   }
}