.izma__settings-employees {
   padding: 30px 0;
   background-color: var(--background-main);

   .izma__settings-employees-heading {
      display: flex;
      align-items: center;
      font-family: "Jost";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 43px;
      margin-bottom: 23px;
      color: #000000;
   }
}

.ant-table-pagination.ant-pagination {
   margin: 50px 0;
}

.hodim_heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
}