.izma__settings-shapes {
   width: 100%;
   padding: 30px 0;
   background-color: var(--background-main);
}

.izma__settings-shapes-up {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 25px;
}

.izma__settings-shapes-up-heading {
   font-style: normal;
   font-weight: 600;
   font-size: 28px;
   line-height: 43px;
   color: #000000;
   margin-bottom: 0;
}

.izma__settings-shapes-up-button {
   margin-left: auto;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 29px;
   padding: 8px 22px;
   color: #090761;
   background-color: #fff;
   border: 1px solid #090761;
   border-radius: 57px;
}

.izma__settings-shapes-button {
   padding: 21px 10px;
   background: #FFFFFF;
   border: 1px solid #E7E7EC;
   box-sizing: border-box;
   box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
   border-radius: 4px;
}


.izma__settings-shapes-button tr:nth-child(even) {
   background-color: #FFFFFF;
}

.izma__settings-shapes-button tr:nth-child(even):hover {
   background-color: #FFFFFF;
}

.izma__settings-shapes-button .ant-table-tbody>tr>td {
   border-top: 1px solid #f0f0f0;
   border-bottom: 1px solid #f0f0f0;
}

.izma__settings-shapes-button .ant-table-thead>tr>th {
   background-color: #ffffff !important;
   color: #2F2D51 !important;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
   background-color: transparent !important;
}

.ant-table-tbody>tr>td {
   border: none;
}

.izma__table-delete-btn {
   width: 35px;
   height: 35px;
}