.myModal {
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.582);
   z-index: 1000000000;
   display: flex;
   transform: scale(0) translateY(-50%);

  
   &.active {
      transform: scale(1);

      .myModal-inner {
         top: 50px;
         transition: all ease 0.5s;
      }
   }
   
   
   &-inner {
      position: absolute;
      top: -150%;
      transition: all ease 0.5s;
      padding: 0 30px 20px 30px;
      border-radius: 1px;
      width: 50%;
      background: white;
      display: flex;
      flex-direction: column;

      &-header {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 20px 0;
         border-bottom: 1px solid #090761;
         margin-bottom: 20px;

         h2 {
            font-size: 17px;
            margin-bottom: 0;
            color: #090761;
            font-weight: bold;
         }

         .burger {
            width: 25px;
            height: 25xpx;
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
               position: absolute;
               width: 20px;
               height: 20px;
               display: flex;
               align-items: center;
               justify-content: center;


               &::before {
                  content: "";
                  position: absolute;
                  width: 20px;
                  height: 2px;
                  background: #090761;
                  transform: rotate(45deg);
               }

               &::after {
                  content: "";
                  position: absolute;
                  width: 20px;
                  height: 2px;
                  background: #090761;
                  transform: rotate(-45deg);

               }
            }
         }
      }

      &-form {

         display: flex;
         flex-direction: column;

          .addGroup-row {
             margin-bottom: 20px;
             &:nth-child(2) {
              input {
                  padding: 10px !important;
              }
             }
             label {
               margin-bottom: 10px;
             }

             input {
                padding: 0;
                font-size: .8rem;
                
             }
          }

         label {
            color: #090761;
            font-size: .8rem;
            font-weight: bold;
            margin-bottom: 10px;
         }

         textarea {
            outline: none;
            padding: 10px;
            color: #090761;
            font-weight: bold;
            letter-spacing: 1.5px;
            border: 1px solid #090761;
         }

         input {
            padding: 10px;
            font-size: 17px;
            font-weight: bold;
            letter-spacing: 1.5px;
            color: #090761;
         }

            .buttonWrapper {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-between;
            }

         button {
            font-family: "Jost";
            font-style: normal;
            font-weight: 600;
            font-size: .8rem;
            color: #FFFFFF;
            background: #090761;
            border-radius: 10px;
            padding: 12px 40px;
            margin-top: 15px;
            transition: all ease 0.5s;
            cursor: pointer;
            border: 1px solid #090761;
            
            &:nth-child(2) {
               background: red;
               border: 1px solid red;

              
            }
            
            
            
         }
      }
   }
}