
.navbar_wrapper {
   width: 100%;
   // box-sizing: border-box;
   // min-height: 100vh;
   // overflow-y: scroll;
   //  &::-webkit-scrollbar {
   //     width: 10px;
   //  }

   //  &::-webkit-scrollbar-track {
   //     background: #fff;
   //  }

   //  &::-webkit-scrollbar-thumb {
   //     background: #090761;
   //  }
   .active_logo {
      margin-left: 5px;
   }

   @media screen and (max-width: 1023px) {
      
   }
   
   .navbar_links-logo  {
      display: flex;
      align-items: center;
   }

   &.active {
      @media screen and (max-width: 1023px) {
         
      }
      .defualt_logo {
         display: flex;
         
      }
      
      .active_logo {
         display: none;
         @media screen and (max-width: 1023px) {
            display: flex;
         }

         
      }

      .navbar-plus {
         position: absolute;
         top: 0;
         width: 300px;
         left: 102%;
         height: 100vh;

      }
      
      

      .navbar_wrapper-center {
         padding: 0 10px;
         padding-top: 30px;
         @media screen and (max-width: 1023px) {
            padding: 0 50px;
            padding-top: 30px;
          }
         .navbar_bloks,
         .navbar_links {
            display: flex;
            align-items: center;
            justify-content: center;
            .open_navbar {
               display: flex;
               align-items: center;
               justify-content: center;
               @media screen and (max-width: 1023px) {
                  justify-content: flex-start;
               }
               
               .link__text {
                  display: none;
                  @media screen and (max-width: 1023px) {
                     display: flex;
                  }
               }
            }


         }
      }
   }


   &-header {
      border-bottom: 1px solid #E7E7EC;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 1023px) {
         justify-content: flex-start;
         padding: 0 50px;
      }

   }
   
   &-center {
      height: calc(100% - 75px);
      padding: 0 50px;
      padding-top: 30px;
      position: relative;

      .navbar-plus {
         position: absolute;
         top: 0;
         width: 100%;
         left: 100%;
         z-index: 1000000;
         height: 100vh;
         display: none;
         &.active {
            display: flex;
         }

      }
   }
}