.izma__form__teaxtarea .ant-input {
   min-height: 190px;
}

.izma__lidlar__form-bolim-form-up {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 24px;
   border-bottom: 1px solid #000000;
}

.form_group {
   margin-top: 25px;
}

.izma__lidlar__form-bolim-form-heading {
   font-style: normal;
   font-weight: 600;
   font-family: "Calibri";
   font-size: 17px;
   color: #000000;
   margin-bottom: 0;
}

.izma__lidlar__form-bolim-form-img {
   width: 20px;
   height: 20px;
}

.izma__lidlar__form-bolim-form-close-btn {
   border: none;
   outline: none;
   background-color: transparent;
}

.izma__lidlar__form-bolim-form-center {
   margin-top: 30px;
}

.izma__lidlar__form-bolim-form-button {
   font-family: "Jost";
   font-style: normal;
   font-weight: 600;
   font-size: .8rem;
   color: #FFFFFF;
   border: none;
   background: #090761;
   border-radius: 57px;
   padding: 12px 40px;
   margin-bottom: 30px;
   margin-top: 15px;
}