.izma__teachers-profile-right-wrapper {
   display: flex;
   flex-direction: column;
   width: 100%;
   background: #FFFFFF;
   border-radius: 15px;
    .burger {
       position: relative;
       width: 25px;
       height: 25px;
       display: flex;
       align-items: center;
       justify-content: center;
       cursor: pointer;

       span {
          position: absolute;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;



          &::before {
             content: "";
             position: absolute;
             width: 20px;
             height: 2px;
             background: #090761;
             transform: rotate(-45deg);
          }

          &::after {
             content: "";
             position: absolute;
             width: 20px;
             height: 2px;
             background: #090761;
             transform: rotate(45deg);
          }
       }
      }

   .izma_teachers-profile-right-wrapper-header {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      display: flex;

      

   }

   .izma__teachers-profile-right-wrapper-id {
      font-family: "Jost";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      background: #D3D3D3;
      border-radius: 5px;
      padding: 2px 14px;
      color: #222222;
   }

   .izma__teachers-profile-right-wrapper-title {
      font-family: "Jost";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 32px;
      color: #000000;
      margin-top: 20px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
            background: #090761;
            border: none;
            outline: none;
            color: white;
            min-width: 34px;
            min-height: 34px;
      }
   }

   .izma__teachers-profile-right-wrapper-time-wrapper {
      display: flex;
      font-family: "Calibri";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;
      border-bottom: 1px solid #E0E0E0;

      .izma__teachers-profile-right-wrapper-text {
         padding-right: 7px;
      }
   }

   .izma__teachers-profile-right-wrapper-name-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;

      .izma__teachers-profile-right-wrapper-name-wrapper-name {
         font-family: "Jost";
         font-style: normal;
         font-weight: normal;
         font-size: .8rem;
         margin-bottom: 0;
         color: #000000;
         position: relative;

         &::before {
            content: "";
            position: absolute;
            width: 0%;
            height: 0.4px;
            padding: 2px 0;
            background: #090761;
            left: 0;
            bottom: 0;
            transition: all ease 0.5s;
         }

         &:hover {
            &:before {
               width: 100%;
               transition: all ease 0.5s;
            }
         }
      }

      .izma__teachers-profile-right-wrapper-name-wrapper-phone {
         font-family: "Calibri";
         font-style: normal;
         font-weight: normal;
         font-size: 15px;
         color: #000000;
         margin-bottom: 0;
      }
   }

   .izma__teachers-profile-right-group-wrapper {
      display: flex;
      align-items: center;
      margin-top: 60px;
      margin-left: auto;

      .izma__teachers-profile-right-group-wrapper-text {
         font-family: "Calibri";
         font-style: normal;
         font-weight: normal;
         font-size: 14px;
         text-decoration-line: underline;
         padding-right: 7px;
         color: #787878;
      }
   }
}