.izma__teachers-payment-inner-left {
   display: flex;
   flex-wrap: wrap;
   margin-top: 95px;
}

.izma__teachers-payment-inner {
   font-family: "Calibri";
   position: -webkit-sticky;
   position: sticky;
   top: 40px;
}

.izma__teachers-payment-inner-headings {
   padding-top: 40px;
   display: flex;
   align-items: center;
}

.izma__teachers-payment-inner-heading {
   font-family: "Calibri";
   font-weight: 600;
   font-size: 30px;
   line-height: 43px;
   text-transform: capitalize;
   margin-right: 20px;
   color: #2F2D51;
}

.izma__teachers-payment-inner-title {
   font-weight: bold;
   font-size: 20px;
   line-height: 24px;
   text-transform: capitalize;
   color: #9493B4;
}


.izma__teachers-payment-inner-left-up {
   position: relative;
   width: 350px;
   background: #FFFFFF;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
   border-radius: 15px;
   margin-right: 45px;
}
.izma__teachers-payment-inner-left-centerizma__teachers-payment-inner-left-center {
   padding-left: 35px;
}

.izma__teachers-payment-inner-left-up-box-black {
   position: absolute;
   top: -42.5px;
   width: 85px;
   height: 85px;
   background: #C9C9C9;
   border-radius: 80px;
}

.izma__teachers-payment-inner-left-up-box {
   position: absolute;
   right: 25px;
   width: 35px;
   height: 35px;
   border: none;
   outline: none;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #fff;
   border-radius: 50%;
}

.izma__teachers-payment-inner-left-up-box-blue {
   background-image: url('../../../../assets/Icons/fedit.svg');
   top: 40px;
}

.izma__teachers-payment-inner-left-up-left {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.izma__teachers-payment-inner-left-up-left-name {
   font-style: normal;
   font-weight: bold;
   margin-top: 70px;
   font-size: 17px;
   line-height: 32px;
   color: #000000;
   width: 100%;
   padding: 0 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.izma__teachers-payment-inner-left-up-left-id {
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   color: #747474;
   margin-bottom: 11px;
}

.izma__teachers-payment-inner-left-center {
   font-family: "Calibri";
   padding-left: 40px;
}

.izma__teachers-payment-inner-left-center-number-wrapper {
   display: flex;
   align-items: center;
   margin-top: 11px;
}

.izma__teachers-payment-inner-left-center-text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 23px;
   color: #7D7D7D;
}

.izma__teachers-payment-inner-left-center-number-number-wrapper {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   color: #000000;
}

.izma__teachers-payment-inner-left-center-number-number {
   margin-left: 16px;
}

.izma__teachers-payment-inner-left-center-balans-balans {
   margin-left: 26px;
}

.izma__teachers-payment-inner-left-center-role-role-wrapper {
   font-weight: normal;
   font-size: 16px;
   line-height: 24px;
   border: 1px solid #090761;
   border-radius: 30px;
   color: #090761;
}

.izma__teachers-payment-inner-left-center-role-role {
   padding: 3px 22px;
   margin-left: 30px;
}

.izma__teachers-payment-inner-left-center-filial-filial {
   padding: 5px 20px;
   margin-left: 23px;
}

.izma__teachers-payment-inner-left-bottom-round {
   width: 40px;
   height: 40px;
   border-radius: 50%;
}

.izma__teachers-payment-inner-left-bottom {
   display: flex;
   align-items: center;
   padding-left: 40px;
   margin-top: 40px;
   padding-bottom: 25px;
}

.izma__teachers-payment-inner-left-centerizma__teachers-payment-inner-left-center {
   padding-bottom: 40px;
}

.izma__teachers-payment-inner-left-btn {
   width: 40px;
   height: 40px;
   border: none;
   outline: none;
   background-size: contain;
   background-repeat: no-repeat;
   background-color: #fff;
   border-radius: 50%;
}

.izma__teachers-payment-inner-drive {
   background-image: url('../../../../assets/Icons/drive.svg');
   margin-right: 15px;
}

.izma__teachers-payment-inner-card {
   background-image: url('../../../../assets/Icons/card.svg');
   margin-right: 15px;
}

.izma__teachers-payment-inner-refresh {
   background-image: url('../../../../assets/Icons/refreshn.svg');
}

.teachers-edit {
   position: absolute;
   top: 0;
   right: -500px;
   background-color: #fff;
   z-index: 2;
   transition: 0.3s;

   &.active {
      right: 0;
   }
}

.overlay {
   &.active {
      &::before {
         width: 100%;
         min-height: 100vh;
         top: 0;
         left: 0;
         position: fixed;
         content: '';
         background-color: #000;
         opacity: 0.3;
         z-index: 1;
      }
   }
}

