.izma__courses-tabs2-message {
   padding: 21px 0;
   padding-left: 24px;
   background: #E7E7F2;
   border: 1px solid #C3C3DC;
   box-sizing: border-box;
   border-radius: 4px;
   margin-top: 18px;
}

.izma__courses-tabs2-message-text {
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;

   color: #2F2D51;
}