.password {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #E8F0FE;
   border: 2px solid #EDF2F8;
   box-sizing: border-box;
   border-radius: 7px;
   width: 100%;
   padding: 0  10px;

   input.inputPassword {
      border: none !important;
      background: #F7F9FB;
      font-size: inherit;
      box-sizing: border-box;
      border-radius: 7px;
      width: 100%;
      padding: 10px;
   }

   span {
      img {
         width: 20px;
         height: 20px;
      }
   }
}