.izma__teachers-profile-certer {
   display: flex;
   width: 32%;
   margin-top: 150px;
   margin-right: 45px;
   flex-direction: column;

   .izma__teachers-profile-certer-heading {
      font-family: "Jost";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 35px;
      color: #222222;
   }

   .izma__teachers-profile-certer-box {
      display: flex;
      align-items: center;
      background: #E8ECF8;
      border: 1px solid #314FA5;
      padding-left: 25px;
      padding-right: 30px;
      border-radius: 4px;

      .izma__teachers-profile-certer-box-left {
         display: flex;
         margin: 24px 0;
         flex-direction: column;

         .izma__teachers-profile-certer-box-left-id {
            font-family: "Jost";
            font-style: normal;
            padding: 2px 16px;
            font-weight: normal;
            font-size: 16px;
            border-radius: 5px;
            width: 75px;
            line-height: 23px;
            background-color: #fff;
            color: #222222;
         }

         .izma__teachers-profile-certer-box-left-title {
            font-family: "Calibri";
            font-style: normal;
            font-weight: normal;
            margin-top: 10px;
            font-size: 16px;
            line-height: 20px;
            color: #222222;
         }
      }

      .izma__teachers-profile-certer-box-right {
         display: flex;
         margin-left: auto;
      }

      .izma__teachers-profile-certer-box-right-date {
         font-family: "Calibri";
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 20px;
         text-align: right;
         padding-right: 7px;
         color: #797979;
      }

      .izma__teachers-profile-certer-box-right-time {
         font-family: "Calibri";
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         line-height: 20px;
         text-align: right;
         color: #797979;
         padding-right: 24px;
      }

      .izma__teachers-profile-certer-box-right-number {
         background: #8D2727;
         border-radius: 5px;
         padding: 3px 8px;
         font-family: "Jost";
         font-style: normal;
         font-weight: 500;
         font-size: 14px;
         line-height: 20px;
         color: #FFFFFF;
      }
   }
}