.izma__finance-cost__form-bolim {
   background: #FFFFFF;
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
   border-radius: 7px;
   padding: 29px 20px;
   padding-bottom: 48px;
   margin-left: 70px;
   width: 340px;

    @media screen and (max-width: 1023px) {
       margin-left: 0;
    }
    @media screen and (max-width: 768px) {
       width: 100%;
    }
}

.izma__form__teaxtarea .ant-input {
   min-height: 190px;
}

.izma__finance-cost__form-bolim-form-up {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 20px;
}

.izma__finance-cost__form-bolim-form .ant-input {
   margin-top: 8px;
}

.izma__finance-form-radio-heading {
   margin-bottom: 8px;
}

.izma__finance-form-radio {
   display: flex !important;
   flex-direction: column;
}

.izma__finance-cost__form-bolim-form .ant-picker {
   margin-top: 8px;
}

.izma__finance-cost__form-bolim-form .ant-select {
   margin-top: 8px;
}

.form_group {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
}

.izma__finance-cost__form-bolim-form-heading {
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 30px;
   color: #000000;
}

.izma__finance-cost__form-bolim-form-img {
   width: 25px;
   height: 25px;
}

.izma__finance-cost__form-bolim-form-close-btn {
   border: none;
   outline: none;
   background-color: transparent;
}

.izma__finance-cost__form-bolim-line {
   border: 1px solid #000000;
}

.izma__finance-cost__form-bolim-form-center {
   margin-top: 22px;
}

.izma__finance-cost__form-bolim-form-button {
   font-style: normal;
   font-weight: 600;
   font-family: "Calibri";
   font-size: 18px;
   line-height: 22px;
   background: #090761;
   border-radius: 37px;
   padding: 12px 40px;
   margin-top: 60px;
   color: #FFFFFF;
   @media screen and (max-width: 768px) {
      font-size: 15px;
      padding: 8px 25px;
   }
}