.ant-upload-picture-card-wrapper.avatar-uploader {
   width: 100% !important;
   height: 100% !important;
   margin: 0 !important;

   .ant-upload.ant-upload-select.ant-upload-select-picture-card {
      height: 100% !important;
      width: 100% !important;
   }
}