.tableBlock {
   display: flex;
   border-top: 1px solid #E7E7EC;
   justify-content: space-between;
   border-bottom: 1px solid #E7E7EC;
   margin-top: 10px;
   background: white;
   transition: all ease 0.5s;

   &:hover {
      background: #FAFAFA;
      transition: all ease 0.5s;
   }

   .paymentHistory {
         display: flex;
         align-items: center;
         padding: 10px 16px;
         text-align: start;
         box-sizing: border-box;
         font-style: normal;
         font-weight: bold;
         font-size: 13px;
         line-height: 24px;
         text-transform: capitalize;
         color: #2F2D51;
         margin-bottom: 0 !important;

         a {
            color: #2F2D51;
         }

        &:nth-child(1) {
           width: 22%;
        }

        &:nth-child(2) {
           width: 10%;
           display: flex;
           align-items: center;
           justify-content: center;

        }

        &:nth-child(3) {
           width: 15%;

        }

        &:nth-child(4) {
           width: 10%;

        }

        &:nth-child(5) {
           width: 10%;

        }

        &:nth-child(6) {
           width: 10%;

        }
        &:nth-child(7) {
           width: 15%;

        }
      }
   

   .studentHash {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      text-align: start;
      box-sizing: border-box;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      text-transform: capitalize;
      color: #2F2D51;
      margin-bottom: 0 !important;
      flex-wrap: wrap;



      a {
         color: #2F2D51;
      }

      &:nth-child(1) {
         width: 5%;
      }

      &:nth-child(2) {
         width: 24.1%;

      }

      &:nth-child(3) {
         width: 20.4%;

         span {
            color: #389e0d;
            background: #f6ffed;
            border-color: #b7eb8f;
            padding: 2px 5px;
            border-radius: 2px;
            line-height: 15px;
            box-sizing: border-box;
            margin-right: 5px;
            font-weight: bold;
            font-size: 13px;
            border: 1px solid;
            text-align: center;
         }
         
      }
      
      &:nth-child(4) {
         width: 30%;
         font-weight: normal;
         overflow: hidden;
            .stuentGrWr {
               margin: 5px 0;
            }
         .studentGr {
            
            border-radius: 2px;
            text-align: center;

            color: #1d39c4;
            background: #f0f5ff;
            border-color: #adc6ff;
            padding: 2px 5px;
            line-height: 15px;
            box-sizing: border-box;
            margin-right: 5px;
            font-weight: bold;
            font-size: 13px;
            border: 1px solid;
         }

      }

      &:nth-child(5) {
         width: 5.4%;
         img {
            width: 30px;
            height: 30px;
         }

      }

      &:nth-child(6) {
         width: 8.9%;
         img {
            width: 30px;
            height: 30px;
         }

      }
   }

   .teacherHash {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      text-align: start;
      box-sizing: border-box;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      text-transform: capitalize;
      color: #2F2D51;
      margin-bottom: 0 !important;
      flex-wrap: wrap;

      a {
         color: #2F2D51;
      }

      &:nth-child(1) {
         width: 13%;
      }

      &:nth-child(2) {
         width: 40%;

      }

      &:nth-child(3) {
         width: 30%;



      }

      &:nth-child(4) {
         width: 10%;
         img {
            width: 30px;
            height: 30px;
         }
      }



   }
   .settingsHashRooms {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      text-align: start;
      box-sizing: border-box;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      text-transform: capitalize;
      color: #2F2D51;
      margin-bottom: 0 !important;
      flex-wrap: wrap;

      a {
         color: #2F2D51;
      }

      &:nth-child(1) {
         width: 5%;
      }

      &:nth-child(2) {
         width: 70%;

      }

      &:nth-child(3) {
         width: 10%;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;



      }

      &:nth-child(4) {
         width: 10%;
         display: flex;
         align-items: center;
         justify-content: center;
         text-align: center;

         img {
            width: 30px;
            height: 30px;
         }
      }



   }

   .groupHash {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      text-align: start;
      box-sizing: border-box;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      text-transform: capitalize;
      color: #2F2D51;
      margin-bottom: 0 !important;
      flex-wrap: wrap;

      &:nth-child(1) {
         width: 8%;
      }

      &:nth-child(2) {
         width: 14%;

      }

      &:nth-child(3) {
         width: 15%;

      }

      &:nth-child(4) {
         width: 10%;
         display: flex;
         align-items: center;
         justify-content: center;
         

      }

      &:nth-child(5) {
         width: 15%;
         display: flex;
         align-items: center;
         justify-content: center;

         img {
            width: 30px;
            height: 30px;
         }
      }
      &:nth-child(6) {
         width: 10%;
         display: flex;
         align-items: center;
         justify-content: center;
      }

      &:nth-child(7) {
         width: 10%;
         display: flex;
         align-items: center;
         justify-content: center;
      }
   }

   .financeGroupHash {
      display: flex;
      align-items: center;
      padding: 10px 16px;
      text-align: start;
      box-sizing: border-box;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 24px;
      text-transform: capitalize;
      margin-bottom: 0 !important;

      &:nth-child(1) {
         width: 20%;
      }

      &:nth-child(2) {
         width: 15%;

      }

      &:nth-child(3) {
         width: 15%;

      }

      &:nth-child(4) {
         width: 15%;
         display: flex;
         align-items: center;
         justify-content: center;

      }

      &:nth-child(5) {
         width: 15%;
      }
   }
   
   .financeCostHash {
      display: flex;
      align-items: center;
     padding: 10px 16px;
      text-align: start;
      box-sizing: border-box;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: capitalize;
      color: #2F2D51;
      margin-bottom: 0 !important;
      flex-wrap: wrap;

      &:nth-child(1) {
         width: 15%;
      }

      &:nth-child(2) {
         width: 15%;

      }

      &:nth-child(3) {
         width: 15%;

      }

      &:nth-child(4) {
         width: 15%;

      }

      &:nth-child(5) {
         width: 10%;

      }
      &:nth-child(6) {
         width: 10%;
         display: flex;
         align-items: center;
         justify-content: center;
         img {
            width: 30px;
            height: 30px;
         }

      }
   }
   .financeHash {
      display: flex;
      align-items: center;
     padding: 10px 16px;
      text-align: start;
      box-sizing: border-box;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      text-transform: capitalize;
      color: #2F2D51;
      margin-bottom: 0 !important;
      flex-wrap: wrap;

      &:nth-child(1) {
         width: 25%;
      }

      &:nth-child(2) {
         width: 15%;

      }

      &:nth-child(3) {
         width: 15%;

      }

      &:nth-child(4) {
         width: 15%;

      }

      &:nth-child(5) {
         width: 10%;

      }
      &:nth-child(6) {
         width: 10%;
         display: flex;
         align-items: center;
         justify-content: center;
         img {
            width: 30px;
            height: 30px;
         }

      }
   }
}