.izma__finance-payment-groups-headings {
   display: flex;
   align-items: center;
}

.izma__finance-payment-groups-heading {
   font-style: normal;
   font-weight: 600;
   font-size: 30px;
   line-height: 43px;
   color: #000000;
   margin-right: 28px;
}

.izma__finance-payment-groups-title {
   font-weight: normal;
   font-size: 20px;
   line-height: 29px;
   color: #000000;
}

// ============

.izma__finance-payment-right-tabs-second-up {
   margin: 31px 0;
   width: 100%;
   display: flex;
   align-items: center;
   background: #090761;

   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
   border-radius: 4px;

}

.izma__finance-payment-right-tabs-second-text {
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 32px;
   color: #FFFFFF;
   padding: 25px;
   color: #fff;
}

.izma__finance-payment-right-tabs-second-img {
   margin-left: auto;
   margin-right: 35px;
   width: 65px;
   height: 40px;
}

.izma__finance-payment-groups-center {
   padding: 25px 50px 20px 45px;
   width: 60%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   background: #FFFFFF;
   border: 1px dashed #4A8F9F;
   box-sizing: border-box;
   border-radius: 4px;
}

.izma__finance-payment-groups-center-id-wrappers {
   margin-right: 80px;
}

.izma__finance-payment-groups-center-id-text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 30px;
   color: #77838F;
}

.izma__finance-payment-groups-center-id-number {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 30px;
   text-transform: capitalize;
   color: #2F2D51;
}

.izma__finance-payment-groups-center-date-wrappers {
   margin-right: 50px;
}

.izma__finance-payment-groups-center-date-text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 30px;
   color: #77838F;
}

.izma__finance-payment-groups-center-date-number {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 30px;
   text-transform: capitalize;
   color: #2F2D51;
}

.izma__finance-payment-groups-center-price-wrappers {
   margin-right: 70px;
}

.izma__finance-payment-groups-center-price-text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 30px;
   color: #77838F;
}

.izma__finance-payment-groups-center-price-number {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 30px;
   text-transform: capitalize;
   color: #2F2D51;
}

.izma__finance-payment-groups-center-payment-wrappers {
   margin-right: 80px;
}

.izma__finance-payment-groups-center-payment-text {
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 30px;
   color: #77838F;
}

.izma__finance-payment-groups-center-payment-number {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 30px;
   text-transform: capitalize;
   color: #2F2D51;
}

.izma__finance-payment-groups-table-wrapper {
   margin-top: 50px;
   padding: 23px 30px 40px 30px;
   background: #FFFFFF;
   border: 1px solid #E7E7EC;
   box-sizing: border-box;
   box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
   border-radius: 4px;
   width: 100%;
   overflow-x: scroll;
}

.izma__finance-payment-groups-table-wrapper-heading {
   padding-bottom: 26px;
   font-style: normal;
   font-weight: 500;
   font-size: 22px;
   line-height: 32px;
   color: #2F2D51;
}