.izma__students-payment-inner-left-section {
   margin-top: 30px;
   width: calc(100% - 380px);

   @media screen and (max-width: 1023px) {
      width: 100%;
       .swiper-slide {
          width: 100%;
       }
   }

   .swiper-wrapper {
      align-items: center;
   }

   .swiper-container {
      width: 100%;
      min-height: 160px;
   }

   .swiper-pagination.swiper-pagination-bullets {
      bottom: 0;
   }

   .swiper-slide {
      width: 100%;
   }

   .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      transition: all ease 0.5s;
      background: #C8C8D6;

      &.swiper-pagination-bullet-active {
         width: 30px;
         height: 12px;
         border-radius: 10px;
         transition: all ease 0.5s;
         background: #090761;
      }
   }

   
}

.finance__inner-table {
   width: 100%;
   overflow-x: scroll;
}

.izma__students-payment-inner-left-section-heading {
   font-style: normal;
   font-family: "Calibri";
   font-weight: 600;
   font-size: 24px;
   line-height: 35px;
   color: #222222;
   @media screen and (max-width: 768px) {
      font-size: 22px;
   }

}

.izma__students-payment-inner-left-section-center-wrapper-inner-left {
   display: flex;
}

.izma__students-payment-inner-left-section-center-wrapper {
   display: flex;
   align-items: center;
   width: 100%;
   padding: 20px 0;
   box-sizing: border-box;
   min-height: 200px;
}

.izma__students-payment-inner-left-section-center-wrapper-left {
   padding: 35px 16px;
   display: flex;
   align-items: center;
   background: #E8ECF8;
   border: 2px solid #314FA5;
   border-radius: 4px;
}

.izma__students-payment-inner-left-section-center-wrapper-inner-left {
   display: flex;
   align-items: center;
   @media screen and (max-width: 450px) {
      flex-direction: column;
      width: 100%;
   }
}

.izma__students-payment-inner-left-section-center-wrapper-inner-right {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.izma__students-payment-inner-left-section-center-wrapper-lefts {
   margin-right: 40px;
   width: 100%;

   


   p{
      margin-bottom: 0;
      
   }
   
   a {
      display: flex;
      align-items: center;
      @media screen and (max-width: 450px) {
         flex-direction: column;
         width: 100%;
      }

      .izma__students-payment-inner-left-section-center-wrapper-inner-right {
         margin-left: 40px;
         @media screen and (max-width: 450px) {
           justify-content: space-between;
           margin-top: 10px;
            margin-left: 0;
            align-items: flex-start;
            width: 100%;
         }
      }
   }
}

.izma__students-payment-inner-left-section-center-wrapper-left-id {
   padding: 2px 15px;
   display: flex;
   background: #FFFFFF;
   border-radius: 5px;
       text-align: center;
       @media screen and (max-width: 768px) {
          font-size: 14px;
       }
}

.izma__students-payment-inner-left-section-center-wrapper-left-name {
   font-style: normal;
   font-family: "Calibri";
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   margin-left: 22px;
   color: #222222;
   margin-bottom: 0;
    @media screen and (max-width: 768px) {
       font-size: 14px;
       
    }
    @media screen and (max-width: 450px) {
       margin-left: 0;
       margin-top: 10px;
    }
}

.izma__students-payment-inner-left-section-center-wrapper-left-date {
   font-style: normal;
   font-family: "Calibri";
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   color: #797979;
}

.izma__students-payment-inner-left-section-center-wrapper-left-days {
   font-family: "Calibri";
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
   width: 62px;
   margin-left: 25px;
   color: #797979;
   @media screen and (max-width: 450px) {
      margin-left: 0;
      width: auto;
   }
}

.izma__students-payment-inner-left-section-bottom-heading {
   margin-top: 58px;
   font-style: normal;
   font-family: "Calibri";
   font-weight: 600;
   font-size: 24px;
   line-height: 35px;
   color: #222222;
    @media screen and (max-width: 450px) {
       font-size: 22px;
    }
}

// ===========================
.students__inner-table {
   padding: 10px 20px;
   background: #FFFFFF;
   box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.16);
   border-radius: 4px;
}

.students__inner-table tr:nth-child(even) {
   background-color: #FFFFFF;
}

.students__inner-table tr:nth-child(even):hover {
   background-color: #FFFFFF;
}

.students__inner-table .ant-table-tbody>tr>td {
   border-top: 1px solid #f0f0f0;
   border-bottom: 1px solid #f0f0f0;
}

.students__inner-table .ant-table-thead>tr>th {
   background-color: #ffffff !important;
   color: #2F2D51 !important;
}

.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
   background-color: transparent !important;
}

.ant-table-tbody>tr>td {
   border: none;
}

.izma__table-delete-btn {
   width: 35px;
   height: 35px;
}