.izma__courses-tabs3-message-list-item {
   display: flex;
   align-items: center;
   width: 100%;
   background: #FFFFFF;
   border: 1px solid #E7E7EC;
   box-sizing: border-box;
   box-shadow: 0px 4px 11px rgba(140, 152, 164, 0.1);
   border-radius: 4px;
   padding: 33px;
   margin-bottom: 22px;
}

.izma__courses-tabs3-message-list-item-left {
   display: flex;
   align-items: center;
}

.izma__courses-tabs3-message-list-item-right {
   display: flex;
   align-items: center;
   margin-left: auto;
}

.izma__courses-tabs3-message-text-date {
   margin-right: 110px;
}

.courses__tabs3-id {
   padding-right: 90px;
}

.courses__tabs3-name {
   margin-right: 85px;
}

.izma__courses-tabs3-message-text {
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;

   color: #2F2D51;
}