#apexcharts-radialbarTrack-0,
#apexcharts-radialbarTrack-2 {
   stroke-width: 11px;
   stroke: rgba(186, 191, 199, 0.3);

}

#apexcharts-radialbarTrack-1,
#apexcharts-radialbarTrack-3 {
   stroke-width: 11px;
   stroke: rgba(186, 191, 199, 0.3);
}

.react-chart-izma {
   width: 250px;
   margin-right: auto;
   margin-left: 40%;
}

.apexcharts-radialbar-slice-3 {
   display: none;
}

#SvgjsPath2239 {
   stroke: #7367F0;
}

.apexcharts-radialbar-slice-1 {
   stroke: #FF9F43;
}

.apexcharts-radialbar-slice-2 {
   stroke: #ff7ca3;
}

#SvgjsText1021 {
   fill: #EA7C69 !important;
}

#SvgjsText1022 {
   fill: #fff;
   font-size: 20px;

}

.apexcharts-canvas {
   position: relative;
   user-select: none;
   left: -57px;
   top: 16px;
}

.apexcharts-radialbar-area {
   stroke-width: 11px;
   stroke-linecap: round;
}

.chart-wrapper {
   height: 290px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}

.izma__graph-heading {
   font-family: "Calibri";
   font-weight: bold;
   font-size: 22px;
   margin-bottom: 15px;
   line-height: 27px;
   color: #2F2D51;
}

.izma__graph-section {
   padding: 30px 20px;
   width: 32%;
   margin-right: 40px;
   height: 500px;
   background: #FFFFFF;
   border: 1px solid #E7E7EC;
   box-sizing: border-box;
   box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1);
   border-radius: 4px;
}

.izma__graph-order {
   display: flex;
   flex-wrap: wrap;
   width: 270px;
   margin-bottom: 10px;
   align-items: center;
   margin-left: auto;
   margin-right: auto;
}

.izma__graph-order-left {
   display: flex;
   flex-wrap: wrap;
}

.circle__graph {

   margin-right: 12px;
   width: 16px;
   height: 16px;
   border-radius: 50%;
}

.circle__graph-telegram {
   border: 2px solid #7367F0;
}

.circle__graph-instagram {
   border: 2px solid #FF9F43;
}

.circle__graph-facebook {
   border: 2px solid #ff7ca3;
}

.izma__graph-info-text {
   font-weight: 500;
   font-size: 14px;
   line-height: 23px;
   color: #5E5873;
}

.izma__graph-order-right {
   margin-left: auto;
}

.izma__graph-info-number {
   font-weight: normal;
   font-size: 14px;
   line-height: 21px;
   text-align: right;
   color: #6E6B7B
}