.courses {
   display: flex;
   justify-content: space-between;

   &-left {
      width: 32%;
      margin-right: 40px;

      .courses-left-center {
         min-height: 430px;
         max-height: 430px;
         overflow-y: scroll;

         &::-webkit-scrollbar {
            width: 10px;
         }

         &::-webkit-scrollbar-track {
            background: #fff;
         }

         &::-webkit-scrollbar-thumb {
            background: #090761;
         }
      }
         

         


      h2 {
         margin-bottom: 20px;
         font-style: normal;
         font-weight: bold;
         font-size: 18px;
         line-height: 23px;

         color: #5E5873;
      }
   }

   &-right {
      min-height: 400px;
      width: 63%;
      position: relative;
      overflow: hidden;
      padding-top: 16/9;
      


      iframe {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         width: 100%;
         height: 100%;
      }
   }
}